.checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 20vw;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}