.leaflet-container,
.review-container,
form {
  width: 33vw;
  height: 100vh;
}

.reviews {
  border-color: aqua;
  border-width: 4px;
}

.app {
  display: flex;
}

.review-card {
  background-color: beige;
  padding: 5px;
  margin: 5px;
}